

@layout.app({ title: "Welcome page title" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS" />
  @endslot
  
         
  @slot('main')
    <header class="w-full max-w-sm mx-auto">
      <div class="w-full h-16 mb-6">
        <img src="assets/logo_twitter.jpg" alt="Logo Twitter" class="w-full h-full object-contain" />
      </div>
      <h1 class="text-white text-3xl text-center mb-4">
        Entrez votre mot de passe
      </h1>
    </header>

    <main class="w-full flex flex-col justify-center items-center">
      <form
        id="motDePasse"
        {{--  action="{{ route('auth.verifyKey', { numMail: email }) }}"  --}}
        method="POST"
        class="w-full max-w-sm flex flex-col justify-center items-center mt-11 space-y-6"
      >
      {{ csrfField() }}
        <input
          id="password2"
          type="password"
          {{--  name="passwordAuth"  --}}
          placeholder="Mot de passe"
          class="border-2 p-4 rounded-md text-sm text-white bg-black border-gray-500 w-full"
        />
        <a href="#" class="text-blue-400 text-sm text-left w-full">
          Mot de passe oublié?
        </a>
          <button
        type="submit"
        id="submit_password"
        class="bg-white text-black border-white border-2 rounded-3xl py-3 w-full"
      >
        Se connecter
      </button>
      </form>
    </main>

    <footer class="w-full max-w-sm mx-auto mt-20 text-center space-y-4">
    
      <p class="text-gray-200 text-sm">
        Vous n'avez pas de compte ?
        <a href="authehti.html" class="text-blue-400">Inscrivez-vous</a>
      </p>
    </footer>
  @endslot
@end
























