<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {{ title || "Your default title" }}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>

    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    
  </head>
  <body class="bg-black flex flex-col min-h-screen px-4">
    {{{ await $slots.main() }}}
  </body>
</html>