<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
    d="M12 11.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
    d="M12 21s7-4.5 7-10.5A7 7 0 005 10.5C5 16.5 12 21 12 21z" />
</svg>
